  <link rel="stylesheet" href="/calendarStyle.css">

<div class="calendar-container">
    <div class="calendar-header">
        <h1>March</h1>
        <p>2022</p>
    </div>
    <!-- the days of the week -->
    <div class="calendar"><span class="day-name">SUN</span><span class="day-name">MON</span><span class="day-name">TUE</span><span class="day-name">WED</span><span class="day-name">THU</span><span class="day-name">FRI</span><span class="day-name">SAT</span>
        <!-- greying out two dates at the end of the calendar -->
        <div class="date day--disabled">30</div>
        <div class="date day--disabled">31</div>

        <!-- all the dates -->
        <div class="date">1</div>
        <div class="date">2</div>
        <div class="date">3</div>
        <div class="date">4</div>
        <div class="date">5</div>
        <div class="date">6</div>
        <div class="date">7</div>
        <div class="date">8</div>
        <div class="date">9</div>
        <div class="date">10</div>
        <div class="date">11</div>
        <div class="date">12</div>
        <div class="date">13</div>
        <div class="date">14</div>
        <div class="date">15</div>
        <div class="date">16</div>
        <div class="date">17</div>
        <div class="date">18</div>
        <div class="date">19</div>
        <div class="date">20</div>
        <div class="date">21</div>
        <div class="date">22</div>
        <div class="date">23</div>
        <div class="date">24</div>
        <div class="date">25</div>
        <div class="date">26</div>
        <div class="date">27</div>
        <div class="date">28</div>
        <div class="date">29</div>
        <div class="date">30</div>
        <div class="date">31</div>

        <!-- filling in the last two blocks since there will not be dates there-->
        <div class="date day--disabled">1</div>
        <div class="date day--disabled">2</div>


        <section class="task task--projects">Do assignment 4 for CS 362
          <p>November 23-26</p>
        </section>

        <section class="task task--smallsh">Do Small shell assignment
          <p> November 7-9</p>
        </section>

        <section class="task task--psych">Write Psych Paper
                <p>November 15-17</p>
            </div>
        </section>
</div>
